services:
  portainer:
    container_name: portainer
    image: portainer/portainer-ce:lts
    profiles:
      - extra
      - full
    restart: always
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - portainer_data:/data
    ports:
      - 9443:9443
      # - 8000:8000  # Uncomment if you intend to use Edge Agents

  duckdns:
    image: linuxserver/duckdns
    container_name: duckdns
    profiles:
      - basic
      - extra
      - full
    environment:
      - PUID=${PUID}
      - PGID=${PGID}
      - TZ=${TZ}
      - SUBDOMAINS=${DUCKDNS_SUBDOMAINS}
      - TOKEN=${DUCKDNS_TOKEN}
    volumes:
      - ./config/duckdns:/config
    restart: unless-stopped

  openvpn-as:
    container_name: openvpn-as
    image: openvpn/openvpn-as
    profiles:
      - extra
      - full
    restart: unless-stopped
    devices:
      - /dev/net/tun
    volumes:
      - ./config/openvpn:/openvpn
    cap_add:
      - MKNOD
      - NET_ADMIN
    ports:
      - 943:943
      # - 443:443  # Uncomment if not using Caddy or another reverse proxy on host
      - 1194:1194/udp

volumes:
  portainer_data:
    name: portainer_data

networks:
  default:
    name: portainer_network
