services:
  core-mariadb:
    image: mariadb
    container_name: core-mariadb
    environment:
      - MYSQL_ROOT_PASSWORD=${MYSQL_ROOT_PASSWORD}
      - MYSQL_DATABASE=${MYSQL_DATABASE}
      - MYSQL_USER=${MYSQL_USER}
      - MYSQL_PASSWORD=${MYSQL_PASSWORD}
    volumes:
      - ./config/mariadb/backup:/backup
      - ./config/mariadb/conf:/var/lib/mysql
      - ./config/mariadb-init:/docker-entrypoint-initdb.d
    restart: unless-stopped
    network_mode: host
    # Uncomment below to use bridge networking instead of host
    # networks:
    #   - hass-network
    # ports:
    #   - 3306:3306

  core-configurator:
    image: causticlab/hass-configurator-docker:arm
    container_name: core-configurator
    depends_on:
      - homeassistant
    user: ${PUID}:${PGID}
    volumes:
      - ./config/configurator:/config
      - ./config/hass_config:/hass-config
    restart: unless-stopped
    networks:
      - hass-network
    ports:
      - 3218:3218/tcp

  homeassistant:
    container_name: homeassistant
    image: homeassistant/home-assistant:stable
    depends_on:
      - core-mariadb
    environment:
      - TZ=${TZ}
    volumes:
      - ./config/hass_config:/config
      - ./config/letsencrypt:/etc/letsencrypt:ro
      - ./config/certbot:/var/lib/letsencrypt:ro
    restart: unless-stopped
    network_mode: host
    # Uncomment below to use bridge networking instead of host
    # ports:
    #   - "8123:8123"
    # networks:
    #   - hass-network

networks:
  hass-network:
    driver: bridge
