services:
  core-mariadb:
    image: mariadb
    container_name: core-mariadb
    profiles:
      - extra
      - full
    environment:
      - MYSQL_ROOT_PASSWORD=${MYSQL_ROOT_PASSWORD}
      - MYSQL_DATABASE=${MYSQL_DATABASE}
      - MYSQL_USER=${MYSQL_USER}
      - MYSQL_PASSWORD=${MYSQL_PASSWORD}
    volumes:
      - ./config/mariadb/backup:/backup
      - ./config/mariadb/conf:/var/lib/mysql
      - ./config/mariadb-init:/docker-entrypoint-initdb.d
    command: cron
    restart: unless-stopped
    network_mode: host
    # Uncomment below to use bridge networking instead of host
    # networks:
    #   - hass-network
    # ports:
    #   - 3306:3306

  homeassistant:
    container_name: homeassistant
    image: homeassistant/home-assistant:stable
    profiles:
      - basic
      - extra
      - full
    environment:
      - TZ=${TZ}
    cap_add:
      - NET_ADMIN
      - NET_RAW
    volumes:
      - /run/dbus:/run/dbus:ro
      - ./config/hass_config:/config
      - ../tool-stack/config/caddy:/caddy
    restart: unless-stopped
    network_mode: host
    # Uncomment below to use bridge networking instead of host
    # ports:
    #   - "8123:8123"
    # networks:
    #   - hass-network

  core-configurator:
    image: causticlab/hass-configurator-docker:arm
    container_name: core-configurator
    depends_on:
      - homeassistant
    #    user: ${PUID}:${PGID}
    profiles:
      - full
    volumes:
      - ./config/configurator:/config
      - ./config/hass_config:/hass-config
    restart: unless-stopped
    networks:
      - hass-network
    ports:
      - 3218:3218/tcp

networks:
  hass-network:
    driver: bridge
